.transferForm,
.transferFormField {
  display: grid;
}

.transferForm {
  gap: 1.5rem;
}

.transferFormField {
  gap: 0.5rem;
}

.transferFormFieldError {
  line-height: 1;
  margin: 0.5rem 0 0;
  font-size: 0.875rem;
  color: hsl(var(--destructive));
  font-weight: var(--font-medium);
}
