@import "@/styles/mixins";

.cardContent,
.buttonWrapper {
  display: grid;
}

.cardContent {
  gap: 1.5rem;
}

.buttonWrapper {
  gap: 1rem;
}

.buttonSpinner {
  @include animate-spin;
  @include print-hidden;

  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}
