@import "./variables";

/* Breakpoints */
@mixin screen-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

/* Print media */
@mixin print-hidden {
  @media print {
    display: none;
  }
}

/* Transitions */
@mixin transitions($props...) {
  $transitions: ();

  @each $prop in $props {
    $transitions: append($transitions, ($prop), comma);
  }

  transition-property: $transitions;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-function;
}

/* Animations */
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@mixin animate-spin {
  animation: spin 1s linear infinite;
}

@mixin animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
